<div class="container">
    <div class="container-title">
        <h2 style="font-weight: bold; padding-bottom: 10px;">Paste the URL to be shortened</h2>
    </div>
    <div class="container-searchURL">
        <input class="form-control mr-sm-2" id="search-text" type="search" placeholder="Search" aria-label="Search" [formControl]="name">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="onclickSearch()" >Search</button>
    </div>
    <div class="container-text">
        <p>URL Shorten is a tool to shorten a URL or reduce a link</p>
        <p>Use our URL Shortener to create a shortened link making it easy to remember</p>
    </div>
</div>